<div class="post">
  <div class="top">
    <div class="profile">
    	<img src="../../assets/zuk.jpg" height="40px" width="40px" style="border-radius: 50%">
    </div>
    <div class="meta">
      <span class="username">Mark Zuckerberg<br></span>
      <span class="time">Now<img height="16px" src="../../assets/world.png" style="margin-bottom: -4px;display: inline;"></span>
    </div>
  </div>
  <div class="main">
    <app-image></app-image>
  </div>
  <div class="bottom">
    <img src="../../assets/bottom.png">
    <img src="../../assets/zuk.jpg" height="32px" width="32px" style="position: absolute; border-radius: 50%; margin: -45px 0 0 13px;">
  </div>
</div>
