#post {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

}
:host ::ng-deep .smile {
  position: absolute;
  -webkit-animation: fall 5s infinite;
  animation: fall 5s infinite;
  animation-timing-function: linear;
  font-size: 2rem;
}


@-webkit-keyframes fall {
  from {
    top: -20px;
  }
  to {
    top: 200px;
  }
}
@keyframes fall {
  from {
    top: -20px;
  }
  to {
    top: 300px;
  }
}
