main {
  text-align: center;

  .button {
    background-color: #E8E8E8;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  input {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
  }
}

