.image {
  width: 100%;
  height: 300px;
  position: relative;

  .text {
  	background-color: #0000001a;
  	margin-top: -300px;
    width: 500px;
    height: 300px;
    color: rgba(255,255,255,1.00);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2000em;
    text-align: center;
    display: flex;
  	justify-content: center;
  	align-items: center;
    position: relative;
    z-index: 10000000;

    .inp {
    	display: flex;
  	  justify-content: center;
      align-items: center;
    	font-size: 30px;
    	font-weight: 700;
    	color: #fff;
    	z-index: 10000;
    	background-color: transparent;
    	border: none;
    	text-align: center;
    	resize: none;
    	height: 100%;
    	min-height: 30px;
      vertical-align: center;
      &:active {
        outline: none;
      }
    }
  }
}

.image.g0 {
	background-color: #7ee8fa;
	background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.image.g1 {
	background-color: #f7b42c;
	background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.image.g2 {
	background-color: #9eabe4;
	background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
}

.image.g3 {
	background-color: #1fd1f9;
	background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

.image.g4 {
	background-color: #abe9cd;
background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);


}