.image {
  width: 100%;
  height: 300px;
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  position: relative;

  .text {
    position: absolute;
    top: 0;
    width: 100%;
    color: rgba(255,255,255,1.00);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2000em;
    padding: 100px 30px;
    text-align: center;
  }
}
